@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
/* =================================================== */
/* VARIABLES */
/* =================================================== */

:root {
  /* Colors */
  /* 60% */
  --clr-neutral: 24, 50%, 96%;
  /* 30% */
  --clr-primary: 201, 39%, 13%;
  /* 10% */
  --clr-accent: 44, 98%, 51%;

  /* TODO: add outline color and get over with it */

  /* temp colors for text */
  --clr-white: white;

  --clr-black: black;

  /* Font Family */
  --ff-primary: "Dosis", sans-serif;
  --ff-secondary: "Niconne", cursive;

  /* Font Size */
  --fs-small: 0.75rem;
  --fs-medium: 1rem;
  --fs-large: 1.5rem;

  /* Font Weight */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Border Radius */
  --border-radius-small: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-large: 2rem;
  --border-radius-round: 50%;

  /* Spacing: Paddings & Margins */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  --grid-size: 900px;
  --grid-padding: var(--spacing-small);
}

.dark-mode {
  /* Colors */
  /* 60% */
  --clr-neutral: 201, 39%, 13%;
  /* 30% */
  --clr-primary: 24, 50%, 96%;
  /* 10% */
  --clr-accent: 44, 98%, 51%;
}

/* =================================================== */
/* RESET CSS */
/* https://piccalil.li/blog/a-modern-css-reset */
/* =================================================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding, and font */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* =================================================== */
/* BODY */
/* =================================================== */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-medium);
  color: var(--clr-black);
  background-color: hsl(var(--clr-neutral));

  /* background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen; */
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
  /* background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%); */
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  /* background-image: linear-gradient(to top, #2c3e50 0%, #34495e 100%); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =================================================== */
/* HEADER */
/* =================================================== */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  /* margin: var(--spacing-medium) var(--spacing-large) var(--spacing-large) 0; */
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
}

#left-actions,
#page-title,
#right-actions {
  flex: 1;
}

#page-title {
  display: flex;
  justify-content: center;
}

#right-actions {
  display: flex;
  justify-content: flex-end;
}

#title {
  color: hsl(var(--clr-neutral));
  font-size: var(--fs-large);
  /* font-weight: var(--fw-bold); */
  letter-spacing: var(--spacing-small);
  padding: var(--spacing-small) var(--spacing-medium);
  font-family: var(--ff-secondary);
  text-transform: capitalize;
}

.inner-depth {
  border-radius: var(--border-radius-medium);
  /* TODO: hardcoded variables */
  border: 4px solid hsl(var(--clr-accent));
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.35) inset,
    0 0 0 2px hsl(var(--clr-primary));
  background-color: hsl(var(--clr-primary));
}

#settings-popup {
  color: hsl(var(--clr-primary));
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(var(--clr-neutral));
  padding: var(--spacing-large);
  /* TODO: test the sizing  */
  width: 700px;
  height: 700px;
  max-width: 80vw;
  max-height: 75vh;
  /* aspect-ratio: 1/1; */
  z-index: 10;
}

#settings-popup.show {
  display: block;
}

.settings-heading {
  font-weight: var(--fw-bold);
  font-size: var(--fs-large);
}

.setting-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--spacing-large) 0;
}

.setting-option-title {
  font-weight: var(--fw-bold);
}

.setting-option-description {
  /* TODO: does nothing now, check if needs more styling or remove */
  font-size: var(--fs-medium);
}

hr {
  height: 2px;
  margin-top: var(--spacing-medium);
  background-color: hsl(var(--clr-primary));
  border: none;
}

/* =================================================== */
/* Checkbox styling */
/* =================================================== */

.checkbox input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox .toggle {
  position: relative;
  cursor: pointer;
}
.checkbox .toggle:before {
  content: "";
  width: calc(var(--spacing-medium) * 3);
  height: calc(var(--spacing-small) * 3);
  display: block;
  background-color: hsl(var(--clr-neutral));
  box-shadow: 0 0 0 4px hsl(var(--clr-accent)), 0 0 8px -2px black inset;
  border-radius: var(--border-radius-medium);
  transition: background-color 0.2s ease;
}
.checkbox .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--spacing-medium) * 1.5);
  height: calc(var(--spacing-medium) * 1.5);
  background-color: hsl(var(--clr-primary));
  border-radius: var(--border-radius-round);
  box-shadow: 0 0 0 2px hsl(var(--clr-neutral)), 0 6px 16px rgba(0, 0, 0, 0.35);
  transition: all 0.2s ease;
}

.checkbox .checkbox-input:checked + .toggle:before {
  background-color: hsl(var(--clr-primary));
}
.checkbox .checkbox-input:checked + .toggle span {
  background-color: hsl(var(--clr-primary));
  transform: translateX(calc(var(--spacing-medium) * 1.5));
  transition: all 0.2s cubic-bezier(1.6, 0.8, 0.6, 2.5),
    background-color 0.15s ease;
  box-shadow: 0 0 0 2px hsl(var(--clr-neutral)), 0 6px 16px rgba(0, 0, 0, 0.35);
}
.checkbox .checkbox-input:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

/* =================================================== */
/* Button styling */
/* =================================================== */
.btn {
  color: hsl(var(--clr-primary));
  cursor: pointer;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  padding: var(--spacing-medium);
  margin: 0 0.25rem;
  /* TODO: hardcoded */
  border: 2px solid hsl(var(--clr-primary));
  border-radius: var(--border-radius-medium);
  background-color: hsl(var(--clr-accent));
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(var(--clr-primary), 0.7);
  border-radius: inherit;
  transform: translate3d(0, 0.55em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.btn:hover {
  border: 2px solid hsl(var(--clr-accent));
  color: hsl(var(--clr-accent));
  background: hsl(var(--clr-primary));
}

.btn:hover::before {
  transform: translate3d(0, 0.65em, -1em);
}

.btn:active {
  transform: translate(0em, 0.65em);
}

.btn:active::before {
  transform: translate3d(0, 0, -1em);
  box-shadow: 0 0 0 2px hsl(var(--clr-primary)),
    0 0.25em 0 0 hsl(var(--clr-primary));
}

#perform-undo-btn,
#perform-redo-btn {
  position: relative;
  aspect-ratio: 1/1;
}

.undo-redo-steps {
  position: absolute;
  font-size: var(--fs-small);
  opacity: 0.5;
  right: 15%;
  bottom: 5%;
}

/* =================================================== */
/* GRID */
/* =================================================== */

#grid {
  display: flex;
  flex-wrap: wrap;
  width: var(--grid-size);
  /* width: 80vw; */
  /* max-width: var(--grid-size); */
  /* TODO: hardcoded for now */
  background-color: white;
  cursor: crosshair;
  margin: var(--spacing-medium);
  padding: var(--grid-padding);
  user-select: none;
  aspect-ratio: 1/1;
}

.grid-square {
  transition: all 175ms ease-in-out;
}

.grid-square .single:hover {
  opacity: 0.5;
}

.grid-square.hover {
  opacity: 0.5;
}

.grid-square-outline {
  outline: 1px solid rgba(49, 63, 78, 0.3);
}

.grid-container {
  position: relative;
}

/* =================================================== */
/* PAD */
/* =================================================== */

.pad {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-large);
  /* flex-wrap: wrap; */
}

/* =================================================== */
/* LEFT TOOLBAR */
/* =================================================== */

.left-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-medium);

  /* margin: 0 1rem; */
  /* TODO: hardcoded for now? */
  /* width: 100px; */
  /* margin: auto var(--spacing-medium); */
}

#swatch-colors-container {
  /* TODO: useless, check if can remove with no side effects */
  /* height: 100%; */
  /* width: 100%; */
  /* padding-left: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-medium);
}

.swatch-color {
  /* TODO: hardcoded for now? */
  width: 50px;
  aspect-ratio: 1/1;
  /* margin: var(--spacing-small) 0; */
  cursor: pointer;
  border-radius: var(--border-radius-small);
}

#selected-swatch-name {
  /* max-width: 100px; */
  border-radius: var(--border-radius-small);
  color: hsl(var(--clr-neutral));
  width: calc(var(--spacing-large) * 2);
}

.text {
  text-align: center;
  text-transform: uppercase;
}

.swatch-arrows {
  /* width: 100px; */
}

.swatch-arrow {
  border: 0;
  color: hsl(var(--clr-primary));
  background: hsl(var(--clr-accent));
  border-radius: var(--border-radius-round);
  /* TODO: hardcoded for now? */
  width: 25px;
  aspect-ratio: 1/1;
  margin: 0 var(--spacing-small);
  cursor: pointer;
  border: 1px solid hsl(var(--clr-primary));
  box-shadow: 0 2px 0 2px hsl(var(--clr-primary));
}

.color-swatch-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);
}

/* =================================================== */
/* COLOR PICKER STYLING */
/* =================================================== */

.clr-picker-container {
}

#clr-picker-label {
  display: block;
  margin-bottom: var(--spacing-small);
}

.clr-picker {
  /* TODO: hardcoded for now? */
  width: 70px;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  background-color: transparent;
}

#color-select::-webkit-color-swatch-wrapper {
  padding: 0;
}
#color-select::-webkit-color-swatch {
  border: none;
  z-index: -1;
}

#color-select::-moz-color-swatch {
  border: none;
  z-index: -1;
}

[type="color"] {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}

/* =================================================== */
/* RIGHT TOOLBAR */
/* =================================================== */

.right-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-medium);
  width: 100px;
  /* margin: auto var(--spacing-medium); */
}

/* =================================================== */
/* RADIO BUTTONS */
/* Taken from: https://codepen.io/eliasmeire/pen/JGjaov */
/* Modified to fit the overall design */
/* =================================================== */

#tools {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-large) * 3);
}

#tools label {
  cursor: pointer;
  position: relative;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"] + span {
  color: hsl(var(--clr-primary));
  background-color: hsl(var(--clr-accent));
  border-radius: var(--border-radius-round);
  padding: calc(var(--spacing-medium) / 1.2);
  border: 2px solid hsl(var(--clr-primary));
  box-shadow: 0 4px 0 2px hsl(var(--clr-primary));
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

input[type="radio"] + span:hover {
  color: hsl(var(--clr-neutral));
  background-color: hsl(var(--clr-primary));
  box-shadow: 0 2px 0 6px hsl(var(--clr-accent), 0.5);
}

input[type="radio"] + span:active {
  color: hsl(var(--clr-neutral));
  background-color: hsl(var(--clr-accent));
  box-shadow: 0 2px 0 2px hsl(var(--clr-primary));
}

input[type="radio"]:checked + span {
  color: hsl(var(--clr-accent));
  background-color: hsl(var(--clr-primary));
  box-shadow: 0 2px 0 1px hsl(var(--clr-accent));
}

/* ================ TOOLTIPS ================= */

#tools label:hover::before {
  content: attr(for);
  text-transform: capitalize;
  position: absolute;
  bottom: 200%;
  left: 0;
  right: 0;
  opacity: 0.75;
  width: fit-content;
  color: hsl(var(--clr-neutral));
  background-color: hsl(var(--clr-primary));
  padding: var(--spacing-small);
  border-radius: var(--border-radius-small);
  display: block;
}

/* =================================================== */
/* BOTTOM TOOLBAR */
/* =================================================== */

.bottom-toolbar {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* TODO:might be good? find alternative */
  /* width: var(--grid-size); */
  /* margin: var(--spacing-large) auto; */
  margin: var(--spacing-large) calc(var(--spacing-large) * 4) 0
    calc(var(--spacing-large) * 4);
}

.extra-options {
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-large); */
}

/* =================================================== */
/* RANGE SLIDER */
/* =================================================== */

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  /* height: 10px; */
  /* border-radius: 5px; */
  /* background: hsl(var(--clr-primary)); */
  /* outline: none; */
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: var(--spacing-medium) 0;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: var(--spacing-large);
  height: var(--spacing-large);
  border-radius: var(--border-radius-round);
  background-color: hsl(var(--clr-accent));
  cursor: pointer;
  border: 2px solid hsl(var(--clr-primary));
  box-shadow: 0 0 3px hsl(var(--clr-primary)), 0 0 5px hsl(var(--clr-primary));
  transform: translateY(-25%);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: var(--spacing-large);
  height: var(--spacing-large);
  border-radius: var(--border-radius-round);
  background-color: hsl(var(--clr-accent));
  cursor: pointer;
  border: 2px solid hsl(var(--clr-primary));
  box-shadow: 0 0 3px hsl(var(--clr-primary)), 0 0 5px hsl(var(--clr-primary));
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--spacing-medium);
  background: hsl(var(--clr-primary));
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 0 4px hsl(var(--clr-accent)), 0 0 8px -2px black inset;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: var(--spacing-medium);
  background: hsl(var(--clr-primary));
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 0 4px hsl(var(--clr-accent)), 0 0 8px -2px black inset;
}

#grid-size-label {
  /* display: inline-block; */
  /* width: calc(var(--spacing-large) * 6); */
  /* width: 200px; */
  /* margin-left: var(--spacing-large); */
  /* color: hsl(var(--clr-neutral)); */
  /* text-align: center; */
  letter-spacing: 4px;
  padding: var(--spacing-small);
  border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
  background-color: transparent;
  display: inline-block;
}

#grid-size-text {
  display: inline-block;
  width: calc(var(--spacing-large) * 4);
  /* width: 200px; */
  margin-left: var(--spacing-small);
  color: hsl(var(--clr-neutral));
  text-align: center;
  letter-spacing: var(--spacing-small);
  padding: var(--spacing-small) 0;
  border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
}

@media (max-width: 1440px) {
  :root {
    --fs-small: 0.75rem;
    --fs-medium: 1rem;
    --fs-large: 1.2rem;

    /* Border Radius */
    --border-radius-small: 0.25rem;
    --border-radius-medium: 0.75rem;
    --border-radius-large: 1.5rem;
    --border-radius-round: 50%;

    /* Spacing: Paddings & Margins */
    --spacing-small: 0.25rem;
    --spacing-medium: 0.75rem;
    --spacing-large: 1.5rem;

    --grid-size: 700px;
  }

  .swatch-color {
    width: 35px;
  }

  .clr-picker {
    width: 45px;
  }
}

@media (max-width: 1024px) {
  :root {
    --spacing-small: 0.25rem;
    --spacing-medium: 0.65rem;
    --spacing-large: 1.2rem;

    --grid-size: 600px;
  }

  .pad {
    flex-direction: column;
  }

  .left-toolbar {
    flex-direction: row;
    margin: var(--spacing-medium) auto;
  }

  .right-toolbar {
    margin: var(--spacing-medium) auto;
  }

  .bottom-toolbar {
    margin: var(--spacing-large) auto;
  }

  #swatch-colors-container {
    flex-direction: row;
  }

  #tools {
    flex-direction: row;
  }
}

/* max-width: 50em */
@media (max-width: 768px) {
  :root {
    /* Font Size */
    --fs-small: 0.5rem;
    --fs-medium: 0.8rem;
    --fs-large: 1.2rem;

    /* Font Weight */
    --fw-regular: 400;
    --fw-bold: 700;

    /* Border Radius */
    --border-radius-small: 0.3rem;
    --border-radius-medium: 0.7rem;
    --border-radius-large: 1.5rem;
    --border-radius-round: 50%;

    /* Spacing: Paddings & Margins */
    --spacing-small: 0.3rem;
    --spacing-medium: 0.7rem;
    --spacing-large: 1rem;

    --grid-size: 500px;
  }

  header {
    /* display: none; */
  }

  #grid {
    width: 80vw;
    max-width: var(--grid-size);
  }

  .swatch-color {
    width: 25px;
  }

  .inner-depth {
    /* border-radius: var(--border-radius-medium); */
    /* TODO: hardcoded variables */
    border: 2px solid hsl(var(--clr-accent));
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.35) inset,
      0 0 0 2px hsl(var(--clr-primary));
    background-color: hsl(var(--clr-primary));
  }

  .clr-picker {
    /* TODO: hardcoded for now? */
    width: 35px;
  }
}
