@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap");

:root {
  /* Colors */
  --clr-bg: #e7e5dc;
  --clr-fg: #d1bba3;
  --clr-shadow: #b69f89;
  --clr-text: #4f4949;
  --clr-grid: #f4f3ee;

  /* Fonts */
  --ff-primary: "Dosis", sans-serif;
  --ff-secondary: "Dosis", sans-serif;

  /* Font Sizes */
  --fs-s: 0.75rem;
  --fs-m: 1rem;
  --fs-l: 1.5rem;
  --fs-body: var(--fs-m);

  /* Font wights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Border Radius */
  --border-radius: 1rem;
  --border-radius-round: 50%;

  /* Padding */
  --pd-1: 1rem;
  --pd-2: 2rem;
  --pd-3: 3rem;

  --grid-size: 900px;
}

.dark-mode {
  --clr-bg: #2d2c2c;
  --clr-fg: #3b3a3a;
  --clr-shadow: #4d4c4c;
  --clr-text: #f9f9f9;
  --clr-grid: #262626;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-text);
  font-size: var(--fs-body);
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* =================================================== */
/* HEADER */
/* =================================================== */

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}

#left-actions {
  flex: 1;
}

#page-title {
  display: flex;
  justify-content: center;
  flex: 1;
}

#right-actions {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

#title {
  letter-spacing: 8px;
  border: 2px solid var(--clr-text);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 10px 1px -4px var(--clr-shadow) inset,
    14px 0 1px -8px var(--clr-shadow) inset,
    -30px 0 1px -25px var(--clr-shadow) inset,
    0 -10.5px 0 -6px var(--clr-shadow) inset,
    0 0 10px 5px rgba(0, 0, 0, 0.35) inset;
}

#settings-popup {
  display: none;
  position: absolute;
  top: 494%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-fg);
  border-radius: var(--border-radius);
  padding: var(--pd-2);
  border: 4px solid var(--clr-shadow);
  width: 700px;
  aspect-ratio: 1/1;
  z-index: 3;
}

#settings-popup.show {
  display: block;
}

.settings-heading {
  font-size: var(--fs-l);
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
}

.setting-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.setting-option-title {
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
}

.setting-option-description {
  opacity: 0.8;
  font-size: var(--fs-m);
  margin: 0.25rem 0;
}

hr {
  height: 2px;
  background-color: var(--clr-text);
  border: none;
}

/* =================================================== */
/* Checkbox styling */
/* =================================================== */

.checkbox input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox .toggle {
  position: relative;
  display: block;
  width: 80px;
  height: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.checkbox .toggle:before {
  content: "";
  position: relative;
  top: 6px;
  left: 6px;
  width: 68px;
  height: 28px;
  display: block;
  background: var(--clr-text);
  box-shadow: 0 0 0 4px var(--clr-shadow), 0 0 8px -2px black inset;
  border-radius: 16px;
  transition: background 0.2s ease;
}
.checkbox .toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: var(--clr-bg);
  border-radius: 20px;
  box-shadow: 0 0 0 2px var(--clr-text), 0 6px 16px var(--clr-shadow);
  transition: all 0.2s ease;
}

.checkbox .checkbox-input:checked + .toggle:before {
  background: var(--clr-grid);
}
.checkbox .checkbox-input:checked + .toggle span {
  background: var(--clr-fg);
  transform: translateX(40px);
  transition: all 0.2s cubic-bezier(1.6, 0.8, 0.6, 2.5), background 0.15s ease;
  box-shadow: 0 0 0 2px var(--clr-text), 0 6px 16px var(--clr-shadow);
}
.checkbox .checkbox-input:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

/* =================================================== */
/* Button styling */
/* =================================================== */
.btn {
  cursor: pointer;
  color: var(--clr-text);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-family: inherit;
  padding: 1rem;
  margin: 0 0.25rem;
  border: 2px solid var(--clr-text);
  border-radius: var(--border-radius);
  background: var(--clr-fg);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-fg);
  border-radius: inherit;
  transform: translate3d(0, 0.55em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.btn:hover {
  background: var(--clr-shadow);
}

.btn:hover::before {
  transform: translate3d(0, 0.65em, -1em);
}

.btn:active {
  transform: translate(0em, 0.65em);
}

.btn:active::before {
  transform: translate3d(0, 0, -1em);
  box-shadow: 0 0 0 2px var(--clr-text), 0 0.25em 0 0 var(--clr-text);
}

#perform-undo-btn,
#perform-redo-btn {
  position: relative;
  width: 65px;
  aspect-ratio: 1/1;
}

.undo-redo-steps {
  position: absolute;
  font-size: var(--fs-s);
  opacity: 0.5;
  right: 15%;
  bottom: 5%;
}

/* =================================================== */
/* GRID */
/* =================================================== */

#grid {
  display: flex;
  flex-wrap: wrap;
  width: var(--grid-size);
  background-color: var(--clr-grid);
  border-radius: var(--pd-1);
  cursor: crosshair;
  margin: 2rem;
  outline: 1rem solid var(--clr-fg);
  box-shadow: 0 0 0 22px var(--clr-text), 0 0 0 2px var(--clr-text) inset,
    0 12px 1px -2px var(--clr-shadow) inset,
    14px 0 1px 0 var(--clr-shadow) inset,
    -30px 0 1px -20px var(--clr-shadow) inset,
    0 -10.5px 1px var(--clr-shadow) inset,
    5px 0 10px 10px rgba(0, 0, 0, 0.35) inset;
  padding: 0.6rem;
  user-select: none;
  aspect-ratio: 1/1;
}

.grid-square {
  transition: all 175ms ease-in-out;
}

.grid-square .single:hover {
  opacity: 0.5;
}

.grid-square.hover {
  opacity: 0.5;
}

.grid-square-outline {
  outline: 1px solid rgba(49, 63, 78, 0.3);
}

.grid-container {
  position: relative;
}

/* =================================================== */
/* LEFT TOOLBAR */
/* =================================================== */

.left-toolbar {
  position: absolute;
  top: 0;
  right: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: var(--grid-size);
}

#swatch-colors-container {
  height: 100%;
}

.swatch-color {
  aspect-ratio: 1/1;
  width: 45px;
  background-color: pink;
  border-radius: var(--border-radius);
  border: 4px solid var(--clr-text);
  box-shadow: 0 6px 0 -1px var(--clr-shadow);
  margin: 1rem 0;
}

#selected-swatch-name {
  text-align: center;
  width: 100px;
  text-transform: uppercase;
}

.swatch-arrow {
  border: 0;
  color: var(--clr-text);
  background: var(--clr-fg);
  border-radius: var(--border-radius-round);
  width: 25px;
  aspect-ratio: 1/1;
  margin: 0 0.25rem;
  cursor: pointer;
}

.color-swatch-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* =================================================== */
/* COLOR PICKER STYLING */
/* =================================================== */

.clr-picker-container {
  margin: 1rem 0;
}

.clr-picker {
  width: 64px;
  height: 64px;
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 4px solid var(--clr-text);
  box-shadow: 0 6px 0 -1px var(--clr-shadow);
}

[type="color"] {
  border: 0;
  padding: 0;
  width: 200%;
  height: 200%;
  cursor: pointer;
  transform: translate(-25%, -25%);
}

/* =================================================== */
/* RIGHT TOOLBAR */
/* =================================================== */

.right-toolbar {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: var(--grid-size);
  padding: 1rem;
}

/* =================================================== */
/* RADIO BUTTONS */
/* Taken from: https://codepen.io/eliasmeire/pen/JGjaov */
/* Modified to fit the overall design */
/* =================================================== */

#tools {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#tools label {
  cursor: pointer;
  position: relative;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"] + span {
  color: var(--clr-shadow);
  background-color: var(--clr-bg);
  border-radius: var(--border-radius-round);
  padding: 16px;
  transition: all 0.4s;
  border: 2px solid var(--clr-text);
  box-shadow: 0 2px 0 4px var(--clr-shadow);
  -webkit-transition: all 0.4s;
}

input[type="radio"] + span:hover {
  color: var(--clr-bg);
  background: var(--clr-shadow);
  box-shadow: 0 2px 0 6px var(--clr-shadow);
}

input[type="radio"] + span:active {
  color: var(--clr-bg);
  background: var(--clr-shadow);
  box-shadow: 0 2px 0 2px var(--clr-shadow);
}

input[type="radio"]:checked + span {
  color: var(--clr-text);
  background-color: var(--clr-fg);
  box-shadow: 0 2px 0 1px var(--clr-shadow);
}

/* ================ TOOLTIPS ================= */

#tools label:hover::before {
  content: attr(for);
  font-family: Roboto, inherit;
  text-transform: capitalize;
  position: absolute;
  bottom: 200%;
  left: 0;
  right: 0;
  opacity: 0.75;
  width: fit-content;
  background-color: var(--clr-text);
  color: var(--clr-bg);
  padding: 4px;
  border-radius: 3px;
  display: block;
}

/* =================================================== */
/* BOTTOM TOOLBAR */
/* =================================================== */

.bottom-toolbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--grid-size);
  margin: 0 2rem;
}

.extra-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

/* =================================================== */
/* RANGE SLIDER */
/* =================================================== */

label {
  color: var(--clr-text);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: var(--clr-grid);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 1rem 0;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--clr-text);
  cursor: pointer;
  border: 2px solid var(--clr-text);
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--clr-text);
  cursor: pointer;
  border: 2px solid var(--clr-text);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  background: var(--clr-grid);
  border-radius: 10px;
  box-shadow: 0 0 0 4px var(--clr-shadow), 0 0 8px -2px black inset;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--clr-fg);
  box-shadow: 0 0 3px var(--clr-shadow), 0 0 5px var(--clr-shadow);
  cursor: pointer;
  transform: translateY(-16%);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1rem;
  background: var(--clr-grid);
  border-radius: 10px;
  box-shadow: 0 0 0 4px var(--clr-shadow), 0 0 8px -2px black inset;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--clr-fg);
  box-shadow: 0 0 3px var(--clr-shadow), 0 0 5px var(--clr-shadow);
  cursor: pointer;
}

#grid-size-text {
  display: inline-block;
  width: 100px;
  margin-left: 1rem;
  color: var(--clr-text);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--clr-grid);

  letter-spacing: 8px;
  border: 2px solid var(--clr-text);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 10px 1px -4px var(--clr-shadow) inset,
    14px 0 1px -8px var(--clr-shadow) inset,
    -30px 0 1px -25px var(--clr-shadow) inset,
    0 -10.5px 0 -6px var(--clr-shadow) inset,
    0 0 10px 5px rgba(0, 0, 0, 0.35) inset;
}
